html {
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  input,
  textarea,
  select,
  button {
    outline: none;
    font: inherit;
  }
  input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
    user-select: none !important;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none !important;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  /* Mobie: width < 740px */
  @media only screen and (max-width: 46.1875em) {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 991px) {
    #w-node-a9b5a986-fb89-bb2f-8f95-87f0557b535a-557b5358 {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  
  @media screen and (max-width: 479px) {
    #w-node-adf36a31-94e4-ccac-253b-ca75c63722bd-c63722a3 {
      grid-area: span 1 / span 2 / span 1 / span 2;
    }
  
    #w-node-ad470625-2a65-3e43-ef6d-75bb8a92697f-c5381d8d {
      grid-area: span 1 / span 1 / span 1 / span 1;
    }
  }